.navbar {
    background-repeat: no-repeat;
    background-position: bottom -5% right -8vw;
    background-size: 140%;
    background-image: url("../images/phoenix-logo-hd.svg");
}

.logo {
    border-radius: 0.4rem;
    width: 100%;
    box-shadow: 0px 5px 10px 0 #00000021;
}

.logo-wrapper {
    display: flex;
    height: 10vh;
    min-height: 3em;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.logo-wrapper:hover {
    text-decoration: none;
}

.logo-wrapper img {
    margin: 5%;
    height: 2em;
}

.logo-text {
    display: block;
    position: relative;
    width: 60%;
    font-size: 1.5vw;
    line-height: 1.1rem;
    margin-top: 2%;
    color: #7a1d1d;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.5s ease;
}

.logo-text:hover {
    margin-left: 3px;
    text-shadow: -5px 0 9px #00000054;
}

.logo-text::before {
    content: "Phoenix LV";
}

.logo-subtext {
    text-transform: uppercase;
    font-size: 0.7vw;
    letter-spacing: 0.1vw;
    color: #a0a0a0;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1260px) or (max-height:600px) {
    .logo-text {
        line-height: 0.8rem;
        font-size: 1.5vw;
    }

    .logo-text::before {
        content: "Phoenix CF";
    }

    .logo-subtext {
        display: none;
    }
}

.nav-link:hover {
    border-radius: 0.2rem;
    font-weight: 500;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 10vh;
    min-height: 3em;
    margin: 1rem 0 0.5rem 0;
    border-radius: 8px;
    box-shadow: 0px 3px 14px 2px #00000024;
    
    background-color: #fdfdfd;
}

.name-tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 80%;
    width: 22%;
    margin: 0 1rem 0 1rem;
    border: 1px solid #efefef;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 20px -10px #00000012;
    border-radius: 8px;
}

.name-tag img {
    height: 120%;

    margin: 0 1rem;
    background-color: #fdfdfd;
    border-radius: 50%;
    border: 3px solid #7a1d1d;
}

.search-box {
    display: flex;
    justify-content: left;
    align-items: center;

    height: 6vh;
    width: 6vh;
    border: 1px solid #efefef;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 20px -10px #00000012;
    transition: all 0.5s ease;
    cursor: pointer;
}

.search-box i {
    margin: 0 0.8vw;
}

.search-box input {
    border: none;
    width: 90%;
    background-color: #ffffff00;
}

.search-box input:focus {
    outline: none;
}

.search-bar::placeholder {
    color: #979797;
}

.search-box:hover {
    width: 50%;
    background-color: #fdfdfd;
    box-shadow: inset 5px 5px 7px -5px #0000002e, -7px -7px 7px -5px #ffffffc2;
}

.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:after {
    display: none;
}

.myCustomButton {

    color: black !important;

    background-image: none !important;
    background-color: white !important;
}

/* This styles the dropdown menu for colvis */
.dt-button-collection {
    color: black !important;

    background-image: none !important;
    background-color: white !important;
}

/* This styles each dropdown item when it's hovered over */
.dt-button-collection .dt-button:hover {
    background-color: #f8f9fa !important;
}